button {
  color: white;
  background-color: black;
}

/* Селектор можно перевести как «после зажатия кнопки»  */

button:active::after {
  /* Ниже вставьте скопированный код */
  animation: change-bg 10s step-end infinite;
}